@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,500;0,700;1,200;1,500;1,600&display=swap');
*, *::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    /* height: 100vh; */
    margin-top: 1rem;
}

img {
    width: 100%;
    height: auto;
    /* max-width: 100%; */
}

i {
    color: #023602;
}


.navbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar-brand {
    font-weight: 300;
}

.nav-item {
    margin-left: 3.3rem;
}

.btn {
    border-radius: 1rem;
}

.btn:active {
    /* background-color: #3e8e41; */
    box-shadow: 0 .4rem #666;
    transform: translateY(4px);
  }
.btn:focus {
    outline: none !important;
}

.hero-row {
    flex-direction: column;
}

.description {
    text-align: center;
    order: 2;
    color: #fff;
}

.heading-primary span {
    display: block;
}

.description .heading-primary {
    margin-bottom: 0 !important;
}
.heading-small {
    font-size: 1.5rem;
}
.heading-lg {
    letter-spacing: 10px;
    font-size: 2.5rem;
    font-weight: 500;
}

.heading-md {
    font-size: 1.5rem;
    font-weight: 400;
    color: #b91fb9;
}


.avatar-div {
    margin: 2rem 0;
    order: 1;
}
.avatar-div img {
    display: none;
    border-radius: 1.5rem;
}

.about-me {
    background-color: #242424;
}


.about-description h3 {
    margin: 2.5rem 0;
    color: #b91fb9;
}

/* .about-description p {
    line-height: 1.9rem;
} */

.about-row {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    padding: 2rem 1rem;
    /* column-gap: .2rem; */
}

.about-row p {
    color: #fff;
}

.services {
    height: auto;
}

.service-title {
    color: #b91fb9;
}

.profile-pic img {
    width: 100%;
}

.card h5 {
    color: #023602;
}

.portfolio {
    height: auto;
}


.gallery-group .col {
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
}

.gallery-title
{
    font-size: 36px;
    color: #b91fb9;
    text-align: left;
    font-weight: 500;
    margin-bottom: 70px;
}

.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #621962;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #1fb91f;

}
.btn-default:active .filter-button:active
{
    background-color: #b91fb9;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
/* project portfolio area */

.gallery_product {
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	border-radius: 15px;
}

.gallery_product img {
	width: 100%;
}

.image-content-area {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -100%;
	left: 0;
	-webkit-transition: .7s;
	transition: .7s;
	background: -webkit-gradient(linear, left bottom, left top, from(#1C1C1C), color-stop(39.37%, rgba(23, 23, 23, 0.815475)), to(rgba(0, 0, 0, 0)));
	background: linear-gradient(to top, #1C1C1C 0%, rgba(23, 23, 23, 0.815475) 39.37%, rgba(0, 0, 0, 0) 100%);
	border-radius: 15px;
}

.gallery_product:hover .image-content-area {
	bottom: 0
}

.hover-text {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.hover-text h4 {
	color: #fff;
	text-transform: uppercase;
	;
	font-size: 24px;
	font-weight: 700
}

.hover-text p {
	color: #fff;
	font-size: 18px;
	line-height: 26px
}

.hover-text a {
	color: #F9A52E;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 19px;
	display: block;
	margin-top: 5px;
	-webkit-transition: .5s;
	transition: .5s
}

.hover-text a:hover {
	color: #FFD15A
}


/* projects area */

@media screen and (min-width: 768px) {

    .hero {
        /* height: 100vh; */
        margin-top: 10rem;
    }

    .hero-row {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    
    .avatar-div {
        order: 2;
    }

    .avatar-div img {
        display: initial;
    }

    .description {
        text-align: initial;
        order: 1;
    }
    .navbar-brand {
        font-weight: 700;
    }

    

    .heading-lg {
        letter-spacing: initial;
        font-size: 4rem;
        font-weight: 600;
    }
    
    .about-row {
        /* height: 100vh; */
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
    }

    
    .about-description {
        /* width: 30vw; */
        margin: 0;
        position: relative;
        color: #fff;
    }

    /* .about-description h3 {
        margin-bottom: 1rem;
    } */
    .about-description p {
        margin-top: 2rem;
        line-height: 1.9rem;
    }

    .profile-pic {
        height: 100%;
    }

    /* .services {
        height: 50vh;
    } */

    .services-row .card {
        padding: 2rem;
    }

    .gallery-group .col {
        /* display: initial; */
        /* justify-content: center; */
        /* margin: 0 auto; */
    }
    
}

@media screen and (min-width: 998px) {
    .hero {
        height: auto;
    }

    .heading-lg {
        letter-spacing: 10px;
    }

   
    .services {
        height: 50vh;
    }
}

@media screen and (min-width: 1200px) {
    .services {
        height: 100vh;
    }

    .about-me {
        height: 100vh;
        margin: auto;

    }
    .about-row-container {
        padding: 0 10rem;
        /* height: 100vh; */
        /* justify-content: center;
        align-items: center; */
    }

    .portfolio {
        height: 100vh;
    }
}